{% assign currentUrl = page.url | downcase | split: '/' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <header  class="header">
            <a href="/">{{ site.name }}</a>
            <a class="extra" href="/#research">Research</a>
            <a class="extra" href="/#books">Books and Monographs</a>
            <a class="extra" href="/documents/KSRVitaCurrent2018.pdf" target="_blank">CV</a>
          </header>

          <div class="content">
            {{ content }}
          </div>

          <footer class="footer">
            <div class="contact">
              <p>
                Copyright © {{ 'now' | date: "%Y" }} Karl Rosengren
              </p>
            </div>
          </footer>
        </div>

    </body>
</html>
